<section class="flex flex-col justify-center items-center w-full">
    <h2 class="text-3xl font-bold mb-10">Profil utilisateur</h2>
    <form (submit)="updateProfil()" [formGroup]="form" class="flex flex-col justify-center items-center gap-6 w-full px-8 md:w-1/2 xl:w-1/3 mb-2">
      <input formControlName="username" type="text" placeholder="Votre nom d'utilisateur" class="input input-bordered w-full " />
      <input formControlName="email" type="text" placeholder="Votre adresse e-mail" class="input input-bordered w-full " />
      <input formControlName="password" type="password" placeholder="Votre mot de passe" class="input input-bordered w-full " />
      <button type="submit" class="btn btn-primary hover:scale-110"  >Sauvegarder</button>
    </form>
    <button type="button" class="btn btn-link text-red-600 hover:scale-110" (click)="logOut()" >Se déconnecter</button>
</section>

<div class="w-full my-4 px-16">
  <hr class="w-full border-gray-500" />
</div>

<section>
  <h2 class="text-3xl font-bold mb-10 text-center">Abonnements</h2>
  <section class="p-8 gap-4 grid 2xl:grid-cols-3 md:grid-cols-2 ">
    <div *ngFor="let topic of user?.subscriptions as list" class="p-4 w-full rounded-md bg-gray-100" >
      <h3 class="mb-4 text-xl font-bold">{{topic.title}}</h3>
      <div class="mb-4" >
        <h5 class="font-bold" >Description:</h5>
        <p class="pl-4">
          {{topic.description}}
        </p>
      </div>
      <div class="w-full text-center">
        <button (click)="removeSubscriptionToTopic(topic.id)" type="button" class="btn btn-primary btn-wide" >Se désabonner</button>
      </div>
    </div>
  </section>
</section>